
app-product {
  margin: 5px;
}

.galleryWrapper {
  justify-content: center;
}

.items-container {

}

app-product-list-product {
  /* width: calc(100% * (1/3) - 10px); */
  margin: 5px;
  display: flex;
  max-height: 450px;
}
