<div fxLayoutAlign="center center">
  <div *ngIf="!(isLoading$ | async) && !(isFailed$ | async) && gallery.length === 0">
    The gallery is currently empty.
  </div>
  <mat-spinner *ngIf="(isLoading$ | async) && !(isFailed$ | async)"></mat-spinner>
  <div class="items-container" fxLayout="row" fxLayoutWrap>
      <!--<app-gallery *ngFor="let product of gallery" [size]="size" [product]="product"></app-gallery>-->
      <!--<app-product class="item"  *ngFor="let product of gallery" [size]="size" [product]="product"></app-product>-->
      <app-product-list-product [ngStyle]="{'width': 'calc(100% * (1/' + size + ') - 10px)'}" *ngFor="let product of gallery" [product]="product"></app-product-list-product>
  </div>
  <div *ngIf="(isFailed$ | async) && gallery.length === 0">
    Failed to load the gallery.
  </div>
</div>
