.defaultImg {
  max-height: 100%;
  max-width: 100%;
}

.imgWrapper {
  background-color: white;
}

.small {
  /*
  max-height: 250px;
  */
  max-width: 150px;
}

.med {
  max-height: 200px;
  max-width: 200px;
}

.large {
  max-height: 250px;
  max-width: 250px;
}

.smallC {
  height: 140px;
  width: 140px;
}

.medC {
  height: 250px;
  width: 250px;
}

.largeC {
  height: 300px;
  width: 300px;
}

.mat-button {
  padding: 0;
}

.mat-card  {
  padding: 0;
}

.mat-card-actions {
  margin-bottom: 0 !important;
}
