<button mat-button (click)="open()">
  <mat-card>
    <div fxLayout="column" fxFlexAlign="center center" class="imgWrapper" *ngIf="!loading && !failed">
      <div [ngClass]="{'smallC': size==0, 'medC': size==1, 'largeC': size==2}" fxLayoutAlign="center center">
        <img class="defaultImg" *ngIf="imageSrc" [src]="imageSrc"
             [ngClass]="{'small': size==0, 'med': size==1, 'large': size==2}">
      </div>
    </div>
    <div *ngIf="!loading && failed">
      Failed to load Image
    </div>
    <mat-card-actions><span *ngIf="image.name">{{image.name}}</span></mat-card-actions>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </mat-card>
</button>
