<mat-card>
  <mat-card-header fxLayout="row" fxFlexAlign="space-around start">
    <mat-card-title><div>Edit Product</div></mat-card-title>
    <mat-card-subtitle>{{(product?.name)}}</mat-card-subtitle>
    <div fxFlex></div>
    <button mat-icon-button (click)="deleteProduct()"><mat-icon>delete</mat-icon></button>
  </mat-card-header>
  <form fxLayout="column" fxLayoutGap="10px" [formGroup]="productForm" (submit)="updateProduct()">
    <div fxLayout="row" fxLayoutWrap>
      <mat-input-container>
        <input matInput placeholder="Id" type="text" formControlName="id" required autocomplete="id">
        <mat-hint
          *ngIf="productForm.controls['id'].hasError('required') && productForm.controls['id'].touched"
          class="errorHints">A product Id is required.
        </mat-hint>
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Name" type="text" formControlName="name" required autocomplete="name">
        <mat-hint
          *ngIf="productForm.controls['name'].hasError('required') && productForm.controls['name'].touched"
          class="errorHints">A product name is required.
        </mat-hint>
        <mat-hint
          *ngIf="productForm.controls['name'].hasError('minlength') && productForm.controls['name'].touched"
          class="errorHints">Product Name must be longer than 2 characters.
        </mat-hint>
      </mat-input-container>
    </div>
    <mat-input-container>
      <textarea matInput placeholder="Product Description" type="text" formControlName="productDescription" matTextareaAutosize matAutosizeMinRows="1"></textarea>
    </mat-input-container>
    <div fxLayout="row" fxLayoutWrap>
    <mat-input-container>
      <input matInput placeholder="Created Date" type="date" formControlName="createdDate" required autocomplete="createdDate">
      <mat-hint
        *ngIf="productForm.controls['createdDate'].hasError('required') && productForm.controls['createdDate'].touched"
        class="errorHints">A Product Created Date is required.
      </mat-hint>
    </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Last Modified" type="date" formControlName="lastModified" required autocomplete="lastModified">
        <mat-hint
          *ngIf="productForm.controls['lastModified'].hasError('required') && productForm.controls['lastModified'].touched"
          class="errorHints">A Product Last Modified is required.
        </mat-hint>
      </mat-input-container>
      <mat-checkbox formControlName="isVisible">Visible</mat-checkbox>
    </div>
    <div fxLayout="row" class="required">
      <div fxFlex></div>
      <div>*all fields are required</div>
    </div>

    <mat-dialog-actions>
      <div fxLayout="row">
        <button mat-button type="button" (click)="cancel()" matTooltip="Back to Console" [matTooltipShowDelay]="500">
          Cancel
        </button>
        <button mat-button matTooltip="Update" [matTooltipShowDelay]="500" type="submit"
                [disabled]="(!isChanged()) || productForm.invalid">Update
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</mat-card>
