<mat-accordion [multi]="false" fxLayoutAlign="center start" fxLayoutWrap="row" fxLayout="row" fxLayoutGap="">
    <mat-expansion-panel>
      <mat-expansion-panel-header>Edit Product</mat-expansion-panel-header>

      <form class="example-form" fxLayout="row">
        <mat-form-field>
          <input type="text" placeholder="Search" aria-label="Product Search" matInput [formControl]="productSearchForm" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name">
              {{ product.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-button (click)="search()">Search</button>
        <button mat-button (click)="reset()">Reset</button>
      </form>

      <mat-divider></mat-divider>
      <app-add-product-product-list *ngIf="listProducts" [products]="listProducts"></app-add-product-product-list>

      <!--
      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
          <mat-cell *matCellDef="let product"><button mat-button>{{product.id}}</button></mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let product"><button mat-button>{{product.name}}</button></mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
          <mat-cell *matCellDef="let product"><button mat-button>{{product.createdDate}}</button></mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastModified">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Modified</mat-header-cell>
          <mat-cell *matCellDef="let product"><button mat-button>{{product.lastModified}}</button></mat-cell>
        </ng-container>
        <ng-container matColumnDef="isVisible">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Is Visible </mat-header-cell>
          <mat-cell *matCellDef="let product"><button mat-button>{{product.isVisible}}</button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>

      </mat-table>

      <!--
      TODO Think about making the rows clickable/selectable https://stackblitz.com/edit/angular-tt9tdw?file=app/table-basic-example.html https://github.com/angular/material2/issues/9692
      -->
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Add Product</mat-panel-title>
      </mat-expansion-panel-header>
      <app-add-product-stepper></app-add-product-stepper>
    </mat-expansion-panel>

</mat-accordion>
