app-root:host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.app_wrapper {
  display: block;
  background-color: transparent;
  z-index: 1;
}

.background {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  /*
    background: #ffffff url("../assets/images/background.jpg") no-repeat fixed center;
  */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background: white;
}

.router_wrapper {
  padding-bottom: 75px;
}

app-header {
  margin-top: 30px;
  margin-bottom: 15px;
}

.header {
  padding: 10px;
  z-index: 999;
}

.sidenav-content {
  height: 100%;
}

.sidenav {
  padding: 20px;
}

.spinner {
  position: absolute;
  z-index: 999;
}
