/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';


/*.panel {
  background-color: black;
}*/

/*.mat-dialog-container {
  background-color: black;
}*/

.size {
  width: 300px;
  height: 450px;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


/*
  To hide the error underlines for inputs in expansion panels
  from showing through to other elements in the accordion.
 */
.mat-expansion-panel-content {
  overflow: hidden !important;
}


